.addItem :global {
  background: inherit;
  color: inherit;
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 1px;
  border: 1px solid #000;
  border-color: #333;
  border-radius: 4px 4px 0 0;

  .input {
    padding-right: 50px;
    overflow: hidden;
    resize: none;
    outline: none;
    background: inherit;
    color: inherit;
    margin: 0;
    width: 100%;
    min-height: 28px;
    border: 0px solid #000;
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
  }
  .input:focus {
    background: #333;
    color: #eee;
  }

  .newBoard {
    background: #fff;
    color: inherit;
    padding-right: 32px;
    padding: 8px 32px 5px 8px;
    cursor: default;
  }
  .newBoard:focus {
    cursor: text;
  }

  .boardTitle {
    background: #fff;
    color: inherit;
    cursor: default;
  }

  .button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    background: inherit;
    color: #eee;
    border: 1px solid #fff;
    outline: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 24px;
    font-weight: 700;

    * {
      height: 28px;
      width: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      fill: #8bc34a;
      border-radius: 4px;
    }
  }

  .add {
    right: 0;
    border-width: 0 0 1px 1px;
    border-radius: 0 4px 0 0;

    * {
      fill: #8bc34a;
    }
  }

  .color {
    right: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0 0 1px 1px;
    border-radius: 0 0 0 4px;
  }
}
