.addItem :global {
  width: 100%;
  height: 98px;
  position: relative;
  border: 0px solid #959;
  padding-right: 30px;
  background: #eee;

  .input {
    padding: 4px;
    overflow: hidden;
    resize: none;
    outline: none;
    background: #eee;
    color: #333;
    border: 0px solid #595;
    min-height: 98px;
    max-height: 98px;
    padding-right: 30px;
    width: 100%;
    overflow-y: auto;
  }
  .input:focus {
    background: #fafafa;
    color: #333;
  }

  .button {
    background: #0000;
    position: absolute;
    right: 0;
    top: 0;
    height: 30px;
    width: 30px;
    margin: 0;
    padding: 0;
    border: 0px solid #eee;
    outline: none;

    * {
      height: 28px;
      width: 28px;
      fill: #76b826;
    }
  }
}

