.board :global {
  background: #ccc;
  border: 1px solid #333;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 4px;
  border-radius: 4px;
  overflow: hidden;

  .wrapper {
    background: #fff;
    width: 100%;
    border-color: #333;
  }

  .cards-list {
    padding: 0 4px;
    background: #ccc;
    color: #eee;
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
  }
  .cards-list::-webkit-scrollbar {
    width: 0;
  }
}
