.addCard :global {
  display: flex;
  align-items: center;
  background: #ccc;
  height: 50px;
  position: sticky;
  top: 0;
  padding: 4px;

  .wrapper {
    height: 34px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .newCard {
      margin: 0;
      padding: 0;
      padding-left: 5px;
      height: 24px;
      background: #fff;
      border: 0px solid #333;
      outline: none;
      flex: 1;
    }
    .newCard:focus {
      margin: 0;
      height: 24px;
      background: #fff;
      border-bottom: 1px outset #333;
      outline: none;
      flex: 1;
    }
  }

  .add-button {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    border: 0px solid #333;
    background: #333;
    color: #fff;
    margin-left: 5px;
    outline: 0px solid #333;
  }
}
