.green {
  background: #6daa2c;
  color: #fff;
}
.yellow {
  background: #beb85b;
}
.orange {
  background: #d27d2c;
  color: #fff;
}
.red {
  background: #d04648;
  color: #fff;
}
.blue {
  background: #597dce;
  color: #fff;
}
