.addBoard {
  border: 1px solid #fff;
  padding: 2px;
  display: flex;
  align-items: center;

  input {
    margin-right: 5px;
    border: 1px solid #fff;
  }

  button {
    background: #fff;
    padding: 0 4px;
    border: 1px solid #fff;
  }
}
