.addBoard {
  background: #000;
  border: 1px solid #ccc;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    text-decoration: none;
    height: 100%;
    margin: 0;
    padding: 0 5px;
    border-width: 0;
    outline: none;
  }

  button {
    background: #ddd;
    height: 100%;
    border-width: 0;
    padding: 2px 7px;
    outline: none;
  }
}
