@font-face {
  font-family: 'Small Pixel7';
  src: url('/src/fonts/small-pixel7.regular.ttf') format('tff');
}
.header :global {/* 
  background: #854c30; */
  margin: 10px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
/* 
  box-shadow: inset -5px -5px 0px #442434, inset 5px 5px 0px #d27d2c; */

  .title {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    font-family: 'Small Pixel7';
    font-size: 48px;
    color: #d27d2c;
    text-shadow: 0px 4px 0px #442434;
  }
  svg {
    padding: 5px 5px;
  }
}
