.header :global {
  background: #eee;
  border: 1px solid #333;
  .linkHeder {
    display: flex;
    align-items: center;

    .title {
      margin: 4px;
      display: flex;
      align-items: center;
      height: 30px;
      color: #333;

      h3 {
        margin: 0;
        padding: 0;
      }

      * {
        margin-right: 4px;
      }
    }
  }
}
