* {
  margin: 0;
  padding: 0;
}

.app :global {
  background: #000;
  color: #fff;
  height: 100vh;

  .header {
    display: flex;
    background: #333;

    a {
      color: #fff;
      text-decoration: none;

      div {
        margin: 5px;
        padding: 2px 7px;
        background: #666;
      }
    }
  }
}
