.desciptionCard :global {
  background: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid #333;
  padding: 8px;
  margin-bottom: 8px;

  .description-header-card {
    border: 1px solid #333;
    margin-bottom: 8px;
    padding: 8px;
  }

  .description-content-card {
    border: 1px solid #333;
    flex: 1;
    padding: 8px;
  }
}
