.card :global {
  background: #333;
  margin-bottom: 4px;
  padding: 8px 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  .wrapper-title {
    background: #333;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .link {
      display: inline-block;
      width: 100%;
    }

    .titleCard {
      width: 100%;
      height: 24px;
      color: #fff;
      outline: none;
      background: #555;
      border: 0px solid #000;
      border-bottom: 1px solid #555;
      outline: none;
      margin: 0;
      padding: 0;
    }
    .titleCard:disabled:hover {
      background: #555;
      cursor: pointer;
    }
    .titleCard:disabled {
      background: #333;
      height: 23px;
      color: #fff;
      margin: 0;
      padding: 0;
      border-bottom: 1px solid #555;
    }
    .titleCard:focus {
      background: #555;
      height: 23px;
      color: #fff;
      border-bottom: 1px outset #fff;
    }
    .titleCard:active {
      background: #555;
      height: 23px;
      color: #fff;
      border-bottom: 1px outset #fff;
    }

    .wrapper-colorLabel {
      width: 100%;
      height: 4px;
      padding: 2px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      transition: height 0.2s 0.7s;

      .colorLabel {
        text-align: center;
        overflow: hidden;
        height: 100%;
        min-width: 14px;
        max-width: 14px;
        margin: 2px 3px;
        transition: padding 0.1s 0.4s, max-width 0.1s 0.4s;
        border-radius: 3px;
      }
    }
    .wrapper-colorLabel:hover {
      height: 17px;
      .colorLabel {
        padding: 0 5px;
        min-width: 14px;
        max-width: 100%;
      }
    }
  }

  .edit {
    background: #fff;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    border: 0px solid #333;
    margin-left: 5px;
    outline: 0px solid #fff;
  }
}
