.card :global {
  background: #333;
  margin-bottom: 4px;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  .wrapper-title {
    background: #333;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .link {
      display: inline-block;
      width: 100%;
    }

    .titleCard {
      width: 100%;
      height: 24px;
      color: #fff;
      outline: none;
      background: #555;
      border-width: 0px;
      outline: none;
      margin: 0;
      padding: 0;
    }
    .titleCard:disabled:hover {
      background: #555;
    }
    .titleCard:disabled {
      background: #333;
      height: 24px;
      color: #fff;
      margin: 0;
      padding: 0;
    }
    .titleCard:focus {
      background: #555;
      height: 23px;
      color: #fff;
      border-bottom: 1px outset #fff;
    }
    .titleCard:active {
      background: #555;
      height: 23px;
      color: #fff;
      border-bottom: 1px outset #fff;
    }

    .wrapper-colorLabel {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;

      .colorLabel {
        text-align: center;
        overflow: hidden;
        max-height: 4px;
        min-height: 4px;
        min-width: 14px;
        max-width: 14px;
        background: #eee;
        color: #333;
        margin: 3px;
        transition: max-height 0.2s 0.5s, padding 0.2s 0.5s, max-width 0.2s 0.5s;
        border-radius: 10px;
      }

      .green {
        background: #6daa2c;
        color: #fff;
      }
      .yellow {
        background: #beb85b;
      }
      .orange {
        background: #d27d2c;
        color: #fff;
      }
      .red {
        background: #d04648;
        color: #fff;
      }
      .darkred {
        background: #442434;
        color: #fff;
      }
      .blue {
        background: #597dce;
        color: #fff;
      }
      .darkblue {
        background: #30346d;
        color: #fff;
      }
    }
    .wrapper-colorLabel:hover {
      .colorLabel {
        max-height: 18px;
        padding: 0 5px;
        max-width: 100%;
      }
    }
  }

  .edit {
    background: #fff;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    border: 0px solid #333;
    margin-left: 5px;
    outline: 0px solid #fff;
  }
}
