.checkList :global{
  border: 1px solid #333;
  padding: 8px;
  background: #fff;

  .header-checklist{
    border: 1px solid #333;
    padding: 8px;
    margin-bottom: 8px;
  }

  .content-checklist{
    border: 1px solid #333;
    padding: 8px;
  }
}