.comments :global {
  padding: 8px;
  border: 1px solid #333;
  background: #666;
  border-radius: 4px;

  .header-comments {
    background: #333;
    padding: 8px;
    border-radius: 4px;
    h3 {
      padding: 0;
      margin: 0;
      color: whitesmoke;
    }
  }

  .add-comments {
    margin-top: 8px;
    border-radius: 4px;
    background: #ccc;
    padding: 4px 8px;
    overflow: hidden;
  }

  .wrapper-comments {
    margin-top: 8px;
    border: 0px solid #333;
    padding: 8px;
    background: #999;
    border-radius: 4px;

    .wrapper-title-comments {
      position: relative;
      margin-bottom: 24px;

      .title-comments {
        overflow: hidden;
        border-radius: 4px 4px 0 4px;
        background: #555;
        color: #fff;
      }
      .date-comments {
        background: #393939;
        color: #eee;
        padding: 0 10px;
        height: 16px;
        min-width: 30px;
        position: absolute;
        bottom: -16px;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        white-space: nowrap;
        border-radius: 0 0 4px 4px;
      }
    }
    .wrapper-title-comments:last-child {
      margin-bottom: 14px;
    }
  }
}
