.title :global {
  position: relative;
  border: 0px solid #333;
  flex: 1;
  width: 100%;
  display: flex;
  color: inherit;
  font-weight: inherit;
  text-shadow: inherit;
  font-size: inherit;

  .input {
    text-shadow: inherit;
    height: 24px;
    width: 100%;
    flex: 1;
    margin: 0;
    padding: 4px;
    padding-right: 52px;
    border-radius: 4px;
    font-size: inherit;
    resize: none;
    overflow: hidden;
    color: #333;
    font-weight: inherit;
  }
  .disabled {
    background: inherit;
    caret-color: transparent;
    color: inherit;
    cursor: inherit;
  }

  .changeTitle {
    position: absolute;
    right: 21px;
    top: 0;
    margin: 0 4px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border: 0px solid #333;
    background: inherit;

    .editIcon {
      margin: 0;
      padding: 0;
      height: 24px;
      width: 24px;
      background: inherit;
      * {
        height: 24px;
        width: 24px;
        fill: goldenrod;
        stroke: darkslategray;
        stroke-width: 0.5px;
        transition: stroke 0.5s;
      }
    }
    .saveIcon {
      background: inherit;
      margin: 0;
      padding: 0;
      height: 24px;
      width: 24px;
      * {
        height: 24px;
        width: 24px;
        stroke: green;
        stroke-width: 2px;
        fill: green;
      }
    }
  }

  .noDelete {
    right: 0;
  }

  .delete {
    background: inherit;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    border: 0px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 27px;
    width: 27px;
    * {
      height: 27px;
      width: 27px;
    }
    .deleteIcon {
      height: 27px;
      width: 27px;
      * {
        height: 27px;
        width: 27px;
        fill: tomato;
        stroke-width: 2px;
        stroke: tomato;
      }
    }
  }
}
