.title :global {
  background: inherit;
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  border-color: inherit;

  .input {
    padding-right: 50px;
    overflow: hidden;
    resize: none;
    outline: none;
    background: inherit;
    color: inherit;
    margin: 0;
    padding: 8px 56px 5px 8px;
    width: 100%;
    min-height: 24px;
    border: 0px solid #000;
    border-bottom: 1px solid #333;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
  }

  .disabledLink {
    cursor: pointer;
    caret-color: transparent;
  }

  .input:focus {
    background: #333;
    color: #eee;
    min-height: 24px;
  }

  .buttons {
    position: absolute;
    right: 0;
    display: flex;
    top: 0;

    .button {
      background: #fff;
      color: #333;
      margin: 0;
      padding: 0;
      border: 0px solid #333;
      border-radius: 0;
      outline: none;
      height: 24px;
      min-width: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .delete {
      background: #e91e63;
      color: white;
    }
  }
}
