.profile :global {
  background: #666;
  color: #eee;
  display: flex;
  flex-direction: column;
  padding: 5px;

  .content {
    height: 100%;

    .wrapper-title {
      border: 1px inset #fff;
      margin-bottom: 10px;
      background: #333;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        font-size: 24px;
      }

      .labels {
        width: 500px;
        height: 20px;
        display: flex;
        .label {
          margin-right: 3px;
          padding: 0 4px;
          min-width: 20px;
          min-height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
        }
      }
    }

    .description {
      border: 1px inset #fff;
      margin-bottom: 10px;
      display: flex;
      

      .description-title {
        background: #333;
        margin: 0;
        padding: 10px;
        display: flex;
        align-items: flex-start;
      }
      .description-text {
        background: #ddd;
        color: #333;
        display: flex;
        align-items: flex-start;
        padding: 10px;
        flex: 1;
      }
    }
  }
}
